*
	padding: 0
	margin: 0
	font-family: 'Josefin Sans', sans-serif


*,*::before, *::after
	box-sizing: border-box
	content: ""


body,html
	height: 100%
	background: #159957  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #155799, #159957)  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #155799, #159957) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

.header
	height: 50px

.navigation
	height: 45px
	background: #fff
	background-color: #fff

.navigation_title
	vertical-align: middle
	line-height: 1.7em

