@import 'base'

$border : #ccc
$break-xs : 320px
$break-sm : 768px
$break-md : 970px
$break-lg : 1024px


.flex
	display: flex;

.flex-row
	flex-direction: row

.flex-column
	flex-direction: flex-column

.flex-row-center
	justify-content: center

.flex-column-center
	align-items: center;

.form-login
	background: #fff
	background-color: #fff
	width: 100%
	max-width: 500px
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	border-radius: 0.4em

.form-login_title
	padding: 0.7em 0.7em

.form-login-group
	height: 50%
	padding: 0em 1.5em
	vertical-align: middle


.form-login-group_input
	width: 100%
	height: 60px
	font-size: 1.2em
	border: none
	border-bottom: 1px solid #ccc
	outline: 0 none
	&:focus
		outline: 0
		border: 1px solid #ccc
		background-color: #fefefe
		box-shadow: 0 0 5px #a2a2a2
		transition: none
		


@media screen and (min-width: $break-xs)
	body
		color: #00000d


